
.navbar {
    width: 280px;
    border-radius: 20px;
}

.nextButton:hover {
    background-color: #7b8396;
    color: white;
}

button:focus {
    color: white;
    background-color: rgb(124, 175, 182);
}

p {
    color: #344767;
}